* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


/*body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
/*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
*/

.navbar {
  font-size: 18px;
  background-color: rgba(66, 149, 215, 0.6);
  /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  position: fixed;
  height: 40px;
  z-index: 1; 
  width: 100%;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links{
  font-family: 'Montserrat', serif;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 15px;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  font-family: 'Montserrat', serif;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 10px;
  line-height: 85%;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.active {
  margin-top: -25px;
  display: block;
  background-color: rgba(66, 149, 215, 0.8);
}


.img-header {
  position: relative;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}


/* Centered text */
.text-header {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  color: black;
  font-size: 2em;
  position: absolute;
  margin-left: -30px;
  margin-right: -30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  background-color: rgba(255, 255, 255, 0.2);*/
}

.box-container {
  width: 100%;
  border: 0px solid green;
  padding: 5px;
  height: 300px;
  margin: 0px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}


@media screen and (max-width: 400px) {


  .navbar {
  font-size: 18px;
  height: 45px;
}

.active {
  margin-top: -35px;
}

  .img-header {
  position: relative;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

/* Centered text */
.text-header {
  font-size: 1.5em;
}

.logo {
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 30px;
}

.nav-links{
  font-size: 14px;
}

}




@media screen and (min-width: 768px) {
  .navbar {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 20px;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

.logo {
  font-size: 26px;
  margin-top: 0px;
}

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(205, 205, 205, 1);
  }

  .img-header {
  position: relative;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

/* Centered text */
.text-header {
  font-size: 4em;
}



}


.active {
        color: #fff !important;
        text-decoration: underline !important;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); // hardware acceleration of CSS animation
}


blockquote {
/*  background: #f9f9f9;*/
  font-family: 'Josefin Slab', serif;
  border-left: 3px solid #ccc;
  font-size: 1.7em;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

.img-text-container {
  position: relative;
  text-align: center;
  color: white;

}


/* Centered text */
.centered {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  background-color: rgba(255, 255, 255, 0.2);*/
}






/*.container {
  max-width: 800px; }*/
.header {
  margin-top: 6rem;
  text-align: center; }
.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.value-img {
  width: 80px;
  display: block;
  text-align: center;
  stroke-width: 1;
  margin: auto; }
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.example {
  position: relative; 
  margin-top: 4rem; }
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
.example-description {
  margin-bottom: 1.5rem; }
.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px; }
.example-screenshot {
  width: 100%;
  height: auto; }
.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
/*.navbar {
  display: none; }*/

/* Larger than phone */
/*@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}*/

/* Larger than tablet */
/*@media (min-width: 750px) {
*/  /* Navbar */
/*  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }*/
  /* Re-overiding the width 100% declaration to match size of % based container */
/*  .has-docked-nav .navbar > .container {
    width: 80%; }*/

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after, 
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}